extends ../layout.pug

block content
	h2 Persona con ID: #{pers._id}
	.card
		ul.list-group.list-group-flush
			li.list-group-item Nombre: #{pers.nombre}
			li.list-group-item Apellidos: #{pers.apellidos}
			li.list-group-item Edad: #{pers.edad}
			li.list-group-item Empresa: #{pers.empresa}
			li.list-group-item Coche: #{pers.coche}
